*{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main_a{
    text-decoration: none;
    text-shadow: 1px 1px 2px pink;
    color: black;
    font-weight: 600;
}
.d-flex{
background-color: rgb(211, 175, 245);
}
.navbar-nav{
    margin-left: 330px;
}
.nav-item{
    margin-right: 50px;
}
.nav-link{
    font-size: larger;
}
h3{
    margin-top: 30px;
    margin-left: 30px;
}
section p{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 200px;
}
.p1{
    margin-bottom: 30px;
}
#flex2{
    flex-wrap: wrap;
    background-color: rgb(204, 180, 227);
}
footer{
    background-color: rgb(155, 154, 156);
}